* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ffff;
}

/* Header */
.page-header {
  background-color: #0c325a;
  height: 450px;
  color: #ffff;
  background-image: url(../img/oldman.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 90% 110%;
}

.page-main {
  background-color: #ffff;
}

.page-footer {
  background-color: grey;
}

.header-nav {
  width: 85%;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
}


.header-nav:after {
  content: "";
  display: table;
  clear: both;
}

.header-nav-left {
  float: left;
}

.list-inline {
  list-style: none;
}

.header-nav li {
 display: inline;
 margin-right: 15px;
}

.header-nav-left {
 margin-right: 100px;
}

.header-nav a {
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
}


.header-nav-right {
  float: right;
}

.logo-link {
  /* padding-left: 20px; */
}

/* Bannerone */
.bannerone {
  position: relative;
  width: 85%;
  height: 370px;
  margin: 0 auto;
}
.testo-bannerone {
  width: 45%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.testo-bannerone h1 {
  font-size: 40px;
  margin-bottom: 12px;
}

.button {
  text-decoration: none;
  display: inline-block;
  line-height: 20px;
  border-radius: 5px;
  padding: 20px;
  text-transform: uppercase;
  color: #FFFF;
  border: 1px solid white;
  background-color: #7BBC00;
}

/* Main */

.page-main-top {
  position: relative;
  background-color: #D3D3D3;
  height: 150px;
  text-align: center;
}

.page-main-top-testo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.page-main-top h3 {
  color: #000000;
}

.page-main-top h4 {
  color:#808080;
}

.page-main-bottom {
  width: 85%;
  margin: 0 auto;
}

.page-main-bottom img {
height: 215px;
}

.page-main-bottom:after{
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  width: 33%;
  margin-top: 20px;
  text-align: center;
}

.col h3 {
  color: #7BBC00;
}
